.card_contener{
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative;
}
.card_contener:hover .button{
    display: block;
}

.card_contener img{
    padding: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.button{
    display: none;
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--primery-color);
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.button :hover{
    background-color:var(--primery-color) ;
}
.rating{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.Product{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1450px;
    margin: 100px auto;
    row-gap: 50px;
    justify-items: center;
    
}
.Product section{
    margin: 0 auto;
}
@media screen and (max-width:650px ) {
    .Product{
        display: flex;
        overflow-x: auto;
        padding: 10px;
      /* optional: spacing between cards */
        scroll-snap-type: x mandatory;
       
    }
    .Product > * {
        flex: 0 0 auto; /* don't shrink, keep original size */
        scroll-snap-align: start; /* optional: snap effect */
    }
}